<div class="page-with-sidebar page-sidebar-expanded">
    <div ng-controller="WerknemersOverzichtMenuCtrl">
        <menu></menu>
    </div>
    <div class="content-wrapper">
        <div class="flash-container"></div>
        <div class="container-fluid container-limited">
            <div class="content">
                <div class="col-lg-12">
                    <label for="search">Search:</label>
                    <input ng-model="q" id="search" class="form-control" placeholder="Filter text">
                </div>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Naam</th>
                            <th>Email</th>
                            <th>Telefoon</th>
                            <th>Werkzaam bij</th>
                            <th>Start datum</th>
                            <th>Eind datum</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr dir-paginate="werknemer in businessbuddy.werknemers | filter:q | itemsPerPage: overzichtwerknemers.perPage">
                            <td>{{werknemer.name}}</td>
                            <td>{{werknemer.email}}</td>
                            <td>{{werknemer.telephone}}</td>
                            <td>{{werknemer.company}}</td>
                            <td>{{werknemer.start}}</td>
                            <td>{{werknemer.end}}</td>
                            <td><button class="delete" ng-click="werknemersoverzicht.removeWerknemer(werknemer)">&times;</button></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
        </div>
    </div>
</div>



