<div class="page-with-sidebar page-sidebar-expanded">
    <menu name="werknemermenu" title="Werknemers overzicht" link="/dashboard/werknemers/overzicht/werknemersoverzichg"></menu>
    <div class="content-wrapper">
        <div class="flash-container"></div>
        <div class="container-fluid container-limited">
            <div class="content">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Telephone</th>
                        <th>Company</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="werknemer in businessbuddy.werknemers">
                        <td>{{werknemer.name}}</td>
                        <td>{{werknemer.email}}</td>
                        <td>{{werknemer.telephone}}</td>
                        <td>{{werknemer.company}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



