<div class="navbar navbar-fixed-top navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-gl-nav">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand animated">
          <img src="/images/logo.png"/>
        </a>
      </div>

      <div class="collapse navbar-collapse" id="main-gl-nav">
        <ul class="nav pull-right animated navbar-nav">
          <li><a href="/dashboard">Dashboard</a></li>
          <li><a href="/users/sign_in" class="sign-in-up-btn" ng-hide="businessbuddy.isLoggedIn">Sign in</a></li>
        </ul>
      </div>
    </div>
  </div>
    <div id="landing">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 text-center">
            <h1 class="landing-header">Plan, focus, succeed</h1>
            <div class="col-sm-12 col-md-12 features-panel">
              <!-- mobile ctas -->
              <div class="landing-ctas hidden-sm hidden-md hidden-lg">
                <a href="/downloads">
                  Host it on your own server? Download and install the open source BusinessBuddy CE version
                </a>
                <br>
                <a href="/pricing">
                  Need enterprise features and support? See our pricing to run BusinessBuddy EE on your own server
                </a>
              </div>
              <!-- full site ctas -->
              <div class="container-fluid">
                <div class="row">
                  <div class="header-feature hidden-xs">
                    <div class="col-md-3 col-sm-6 landing-item">
                      <a href="/downloads" class="col-link">
                        </a><div class="clickable"><a href="/downloads" class="col-link">
                          <div class="icon-area">
                            <i class="fa fa-download"></i>
                          </div>
                          <div class="text-area">
                            <p>BusinessBuddy</p>
                            <p>Community Edition</p>
                            <p>Download and install the BusinessBuddy CE on your own server in 2 minutes.</p>
                          </div>
                          </a><div class="header-btn"><a href="/downloads" class="col-link">
                          </a><a class="comparison" href="/downloads">Download</a>
                          </div>
                        </div>

                    </div>
                    <div class="col-md-3 col-sm-6 landing-item">
                      <a href="/pricing" class="col-link">
                        </a><div class="clickable"><a href="/pricing" class="col-link">
                          <div class="icon-area">
                            <i class="fa fa-plus"></i>
                          </div>
                          <div class="text-area">
                            <p>BusinessBuddy</p>
                            <p>Enterprise Edition</p>
                            <p>Additional features and commercial support for running on your own server.</p>
                          </div>
                          </a><div class="header-btn"><a href="/pricing" class="col-link">
                          </a><a class="comparison" href="/pricing">Pricing</a>
                          </div>
                        </div>

                    </div>
                    <div class="col-md-3 col-sm-6 landing-item">
                      <a href="/users/sign_in" class="col-link">
                      </a><div class="clickable"><a href="/users/sign_in" class="col-link">
                          <div class="icon-area">
                            <i class="fa fa-cloud"></i>
                          </div>
                          <div class="text-area">
                            <p>BusinessBuddy</p>
                            <p>SaaS</p>
                            <p>Free cloud hosting. Create up to 10 categories for your business.</p>
                          </div>
                        </a><div class="header-btn"><a href="/users/sign_in" class="col-link">
                        </a><a class="comparison" href="/users/sign_in">Sign Up</a>
                          </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 landing-item">
                      <a href="/bbhost" class="col-link">
                        </a><div class="clickable"><a href="/bbhost" class="col-link">
                          <div class="icon-area">
                            <i class="fa fa-server"></i>
                          </div>
                          <div class="text-area">
                            <p>BusinessBuddy</p>
                            <p>Hosted Servers</p>
                            <p>A private single-tenant BusinessBuddy instance run by us.</p>
                          </div>
                        </a><div class="header-btn"><a href="/bbhost" class="col-link">
                          </a><a class="comparison" href="/bbhost">Learn More</a>
                        </div>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
