<div class="page-with-sidebar page-sidebar-expanded">
    <div ng-controller="AfsprakenOverzichtMenuCtrl">
        <menu></menu>
    </div>
    <div class="content-wrapper">
        <div class="flash-container">
            <div class="flash-success" ng-show="overzichtafspraak.success" ng-click="overzichtafspraak.success = null">{{ overzichtafspraak.success }}</div>
            <div class="flash-alert" ng-show="overzichtafspraak.error" ng-click="overzichtafspraak.error = null">{{ overzichtafspraak.error }}</div>
        </div>
        <div class="container-fluid container-limited">
            <div class="content">
                <div class="col-lg-12">
                    <label for="search">Search:</label>
                    <input ng-model="q" id="search" class="form-control" placeholder="Filter text">
                </div>
                <div class="col-lg-12">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Titel</th>
                            <th>Omschrijving</th>
                            <th>Einddatum</th>
                            <th>Eindtijd</th>
                            <th>Uitvoerder</th>
                            <th>Klant</th>
                            <th>Actie</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr dir-paginate="afspraak in businessbuddy.afspraken | filter:q | itemsPerPage: overzichtafspraak.perPage">
                            <td>{{afspraak.Titel}}</td>
                            <td>{{afspraak.Omschrijving}}</td>
                            <td>{{afspraak.Einddatum | date: "dd-MM-yyyy"}}</td>
                            <td style="width: 12%;">{{afspraak.Eindtijd | date: "HH:mm"}}</td>
                            <td style="width: 12%;">{{afspraak.Uitvoerder.profile.name}}</td>
                            <td style="width: 12%;">{{afspraak.Klant.Voornaam}} {{afspraak.Klant.Achternaam}} {{afspraak.Klant.Bedrijf}}</td>
                            <td style="width: 10%;">
                                <button class="btn btn-default btn-sm" data-toggle="modal" data-target="#wijzigeAfspraakModal" style="margin-right: 5px;" ng-click="overzichtafspraak.selectedAfspraak(afspraak)"><span class="fa fa-pencil"></span></button>
                                <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#verwijderAfspraakModal" ng-click="overzichtafspraak.selectedAfspraak(afspraak)"><span class="fa fa-trash"></span></button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <dir-pagination-controls on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="verwijderAfspraakModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Afspraak verwijderen</h4>
            </div>
            <div class="modal-body">
                Weet je zeker dat je <b>{{overzichtafspraak.afspraak.Titel}}</b> wilt verwijderen?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Nee</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="overzichtafspraak.removeAfspraak()">Verwijder</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="wijzigeAfspraakModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Afspraak wijzigen</h4>
            </div>
            <div class="modal-body">
                <div class="form-group col-lg-12">
                    <label class="label-light"><b>Titel</b></label>
                    <input class="form-control" required="required" type="text" ng-model="overzichtafspraak.details.Titel">
                </div>
                <div class="form-group col-lg-12">
                    <label class="label-light"><b>Omschrijving</b></label>
                    <textarea class="form-control" rows="5" id="textArea" ng-model="overzichtafspraak.details.Omschrijving"></textarea><br>
                </div>
                <div class="form-group col-lg-6">
                    <label class="label-light"><b>Einddatum</b></label>
                    <input class="form-control" required="required" type="text" data-provide="datepicker" ng-model="overzichtafspraak.details.Einddatum" data-date-format="dd-mm-yyyy">
                </div>
                <div class="form-group col-lg-6">
                    <label class="label-light"><b>Eindtijd</b></label>
                    <input class="form-control" required="required" type="time" ng-model="overzichtafspraak.details.Eindtijd">
                </div>
                <div class="form-group col-lg-12">
                    <div class="form-group" id="formFix">
                        <label class="label-light">Taak uitvoerder</label>
                        <ui-select ng-model="overzichtafspraak.details.Uitvoerder" required="" theme="bootstrap" ng-disabled="disabled" style="min-width: 300px;">
                            <ui-select-match placeholder="Selecteer een uitvoerder uit de lijst of zoek op naam">{{$select.selected.profile.name}}</ui-select-match>
                            <ui-select-choices repeat="user in businessbuddy.users | propsFilter: {username: $select.search} | limitTo: 50">
                                <div ng-bind-html="user.profile.name | highlight: $select.search"></div>
                                <small>
                                    name: {{user.profile.name}}
                                    email: <span ng-bind-html="'' + user.emails[0].address | highlight: $select.search"></span>
                                </small>
                            </ui-select-choices>
                        </ui-select>
                        <span class="help-block">Kies hier de medewerker die de taak moet gaan uitvoeren</span>
                    </div>
                </div>
                <div class="form-group col-lg-12">
                    <div class="form-group" id="formFix" ng-class="{'has-error': nieuweAfspraakForm.aKlant.$invalid && nieuweAfspraakForm.$submitted}">
                        <label class="label-light">Klant</label>
                        <ui-select ng-model="overzichtafspraak.details.Klant" required="" name="aKlant" theme="bootstrap" ng-disabled="disabled" style="min-width: 300px;">
                            <ui-select-match placeholder="Selecteer een klant in de lijst of zoek op naam">{{$select.selected.Voornaam}} {{$select.selected.Bedrijf}}</ui-select-match>
                            <ui-select-choices repeat="klant in businessbuddy.klanten | propsFilter: {Voornaam: $select.search, Bedrijf: $select.search} | limitTo: 50">
                                <div ng-bind-html="klant.Voornaam | highlight: $select.search"></div>
                                <small>
                                    email: {{klant['E-mailadres']}}
                                    bedrijf: <span ng-bind-html="''+klant.Bedrijf | highlight: $select.search"></span>
                                </small>
                            </ui-select-choices>
                        </ui-select>
                        <span class="help-block">Kies hier de klant voor de afspraak</span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Nee</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="overzichtafspraak.updateAfspraak()">Wijzig</button>
            </div>
        </div>
    </div>
</div>