<div class="page-with-sidebar page-sidebar-expanded">
    <div ng-controller="AfsprakenOverzichtMenuCtrl">
        <menu></menu>
    </div>
    <div class="content-wrapper">
        <div class="flash-container"></div>
        <div class="container-fluid container-limited">
            <div class="content">
                <div class="col-lg-12">
                    <label for="search">Search:</label>
                    <input ng-model="q" id="search" class="form-control" placeholder="Filter text">
                </div>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Titel</th>
                        <th>Omschrijving</th>
                        <th>Einddatum</th>
                        <th>Eindtijd</th>
                        <th>Uitvoerder</th>
                        <th>Klant</th>
                        <th>Actie</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr dir-paginate="afspraak in businessbuddy.afspraken | filter:q | itemsPerPage: overzichtafspraak.perPage">
                        <td>{{afspraak.Titel}}</td>
                        <td>{{afspraak.Omschrijving}}</td>
                        <td>{{afspraak.Einddatum}}</td>
                        <td style="width: 12%;">{{afspraak.Eindtijd | date: "HH:mm"}}</td>
                        <td style="width: 12%;">{{afspraak.Uitvoerder.profile.name}}</td>
                        <td style="width: 12%;">{{afspraak.Klant.Voornaam}} {{afspraak.Klant.Achternaam}} {{afspraak.Klant.Bedrijf}}</td>
                        <td style="width: 10%;">
                            <button class="btn btn-default btn-sm" data-toggle="modal" data-target="#wijzigeAfspraakModal" style="margin-right: 5px;" ng-click="overzichtafspraak.selectedAfspraak(afspraak)"><span class="fa fa-pencil"></span></button>
                            <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#verwijderAfspraakModal" ng-click="overzichtafspraak.selectedAfspraak(afspraak)"><span class="fa fa-trash"></span></button>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <dir-pagination-controls on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>
            </div>
        </div>
    </div>
</div>