<div class="page-with-sidebar page-sidebar-expanded">
    <div ng-controller="KlantenOverizchtMenuCtrl">
        <menu></menu>
    </div>
    <div class="content-wrapper">
        <div class="flash-container"></div>
        <div class="container-fluid container-limited">
            <div class="content">
                <div class="col-lg-12">
                    <label for="search">Search:</label>
                    <input ng-model="q" id="search" class="form-control" placeholder="Filter text">
                </div>
                <div class="col-lg-12">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Contactpersoon</th>
                            <th>Bedrijf</th>
                            <th>Email</th>
                            <th>Tel werk</th>
                            <th>Tel prive</th>
                            <th>Plaats</th>
                            <th>Actie</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr dir-paginate="klant in businessbuddy.klanten | filter:q | itemsPerPage: overzichtklant.perPage">
                            <td>{{klant.Voornaam}} {{klant.Achternaam}}</td>
                            <td>{{klant.Bedrijf}}</td>
                            <td>{{klant['E-mailadres']}}</td>
                            <td style="width: 12%;">{{klant['Telefoon op werk']}}</td>
                            <td style="width: 12%;">{{klant['Mobiele telefoon']}}</td>
                            <td>{{klant['Werkadres, plaats']}}</td>
                            <td style="width: 10%;">
                                <button class="btn btn-default btn-sm" data-toggle="modal" data-target="#wijzigKlantModal" style="margin-right: 5px;" ng-click="overzichtklant.selectedKlant(klant)"><span class="fa fa-pencil"></span></button>
                                <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#verwijderKlantModal" ng-click="overzichtklant.selectedKlant(klant)"><span class="fa fa-trash"></span></button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <dir-pagination-controls on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="verwijderKlantModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Contact verwijderen</h4>
            </div>
            <div class="modal-body">
                Weet je zeker dat je <b>{{overzichtklant.klant.Voornaam}} {{overzichtklant.klant.Achternaam}}</b> wilt verwijderen?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Nee</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="overzichtklant.removeKlant()">Verwijder</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="wijzigKlantModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Contact wijzigen</h4>
            </div>
            <div class="modal-body">
                <div class="form-group col-lg-6">
                    <label class="label-light" for="user_name"><b>Voornaam</b></label>
                    <input class="form-control" required="required" type="text" ng-model="overzichtklant.details.Voornaam">
                </div>
                <div class="form-group col-lg-6">
                    <label class="label-light" for="user_name"><b>Achternaam</b></label>
                    <input class="form-control" required="required" type="text" ng-model="overzichtklant.details.Achternaam">
                </div>
                <div class="form-group col-lg-12">
                    <label class="label-light" for="user_name"><b>Bedrijf</b></label>
                    <input class="form-control" required="required" type="text" ng-model="overzichtklant.details.Bedrijf"><br>
                    <label class="label-light" for="user_name"><b>E-mailadres</b></label>
                    <input class="form-control" required="required" type="text" ng-model="overzichtklant.details.Email"><br>
                    <label class="label-light" for="user_name"><b>Afdeling</b></label>
                    <input class="form-control" required="required" type="text" ng-model="overzichtklant.details.Afdeling"><br>
                    <label class="label-light" for="user_name"><b>Notities</b></label>
                    <textarea class="form-control" rows="5" id="textArea" ng-model="overzichtklant.details.Notities"></textarea><br>
                </div>
                <div class="form-group col-lg-6">
                    <label class="label-light" for="user_name"><b>Huisadres, plaats</b></label>
                    <input class="form-control" required="required" type="text" ng-model="overzichtklant.details.HPlaats">
                </div>
                <div class="form-group col-lg-6">
                    <label class="label-light" for="user_name"><b>Huisadres, postbusnummer</b></label>
                    <input class="form-control" required="required" type="text" ng-model="overzichtklant.details.HPostbusnummer">
                </div>
                <div class="form-group col-lg-6">
                    <label class="label-light" for="user_name"><b>Huisadres, postcode</b></label>
                    <input class="form-control" required="required" type="text" ng-model="overzichtklant.details.HPostcode">
                </div>
                <div class="form-group col-lg-6">
                    <label class="label-light" for="user_name"><b>Huisadres, provincie</b></label>
                    <input class="form-control" required="required" type="text" ng-model="overzichtklant.details.HProvincie">
                </div>
                <div class="form-group col-lg-12">
                    <label class="label-light" for="user_name"><b>Locatie</b></label>
                    <input class="form-control" required="required" type="text" ng-model="overzichtklant.details.Locatie"><br>
                    <label class="label-light" for="user_name"><b>Mobiele telefoon</b></label>
                    <input class="form-control" required="required" type="text" ng-model="overzichtklant.details.Mobtel"><br>
                    <label class="label-light" for="user_name"><b>Telefoon op werk</b></label>
                    <input class="form-control" required="required" type="text" ng-model="overzichtklant.details.Telwerk"><br>
                    <label class="label-light" for="user_name"><b>Telefoon thuis</b></label>
                    <input class="form-control" required="required" type="text" ng-model="overzichtklant.details.Telthuis"><br>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Nee</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="overzichtklant.updateKlant()">Wijzig</button>
            </div>
        </div>
    </div>
</div>



