<div class="page-with-sidebar page-sidebar-expanded">
    <menu name="leasemenu" title="Lease overzicht" link="/dashboard/lease/overzicht/leaseoverzicht"></menu>
    <div class="content-wrapper">
        <div class="flash-container"></div>
        <div class="container-fluid container-limited">
            <div class="content">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>LinkedIn</th>
                        <th>Website</th>
                        <th>Location</th>
                        <th>Bio</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr ng-repeat="klanten in businessbuddy.klanten">
                        <td>{{klanten.name}}</td>
                        <td>{{klanten.email}}</td>
                        <td>{{klanten.linkedin}}</td>
                        <td>{{klanten.website}}</td>
                        <td>{{klanten.telephone}}</td>
                        <td>{{klanten.location}}</td>
                        <td>{{klanten.bio}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



