<div class="page-with-sidebar page-sidebar-expanded">
    <menu name="hoofdmenu"></menu>

    <div class="content-wrapper">
        <div class="flash-container"></div>
            <div class="container-fluid container-limited">
                <div class="content">
                    <div class="clearfix">
                      <h4 class="prepend-top-default">Welcome to BusinessBuddy!</h4>
                      <p>Plan, focus, succeed</p>
                      <hr>
                    </div>
                </div>
            </div>
    </div>
</div>
