<div class="page-with-sidebar page-sidebar-expanded">
    <div ng-controller="DashboardMenuCtrl">
        <menu></menu>
    </div>

    <div class="content-wrapper">
        <div class="flash-container"></div>
            <div class="container-fluid container-limited">
                <div class="content">
                    <div class="clearfix">
                      <h4 class="prepend-top-default">Welcome to BusinessBuddy!</h4>
                      <p>Plan, focus, succeed</p>
                      <hr>
                        <img src="/images/businessbuddy.jpg" alt="B-buddy" style="width:804px;height:300px;">
                    </div>
                </div>
            </div>
    </div>
</div>
