<div class="page-with-sidebar page-sidebar-expanded">
    <div ng-controller="AfsprakenMenuCtrl">
        <menu></menu>
    </div>

    <div class="content-wrapper" ng-controller="AfsprakenCtrl">
        <div class="flash-container">
            <div class="flash-alert" ng-show="error" ng-click="error = null">{{ error }}</div>
            <div class="flash-success" ng-show="success" ng-click="success = null">{{ success }}</div>
        </div>
        <div class="container-fluid container-limited">
            <div class="content">
                <div class="row">
                    <div class="col-lg-3 profile-settings-sidebar">
                        <h4 class="prepend-top-0">Nieuwe afspraak</h4>
                        <p>Hiernaast laat u weten wat de nieuwe afspraak betreft.</p>
                    </div>
                    <div class="col-lg-9">
                        <form novalidate name="nieuweAfspraakForm" accept-charset="UTF-8">

                            <div class="form-group" ng-class="{'has-error': nieuweAfspraakForm.aTitel.$invalid && nieuweAfspraakForm.$submitted}">
                                <label class="label-light">Titel</label>
                                <input class="form-control" required="true" type="text" name="aTitel" ng-model="afspraak.Titel">
                                <span class="help-block">Vul hier een titel in voor de nieuwe afspraak</span>
                            </div>

                            <div class="form-group" ng-class="{'has-error': nieuweAfspraakForm.aOmschrijving.$invalid && nieuweAfspraakForm.$submitted}">
                                <label class="label-light">Omschrijving</label>
                                <textarea class="form-control" required="" rows="6" name="aOmschrijving" ng-model="afspraak.Omschrijving"></textarea>
                                <span class="help-block"></span>
                            </div>

                            <div class="form-group" id="formFix" ng-class="{'has-error': nieuweAfspraakForm.aUitvoerder.$invalid && nieuweAfspraakForm.$submitted}">
                                <label class="label-light">Taak uitvoerder</label>
                                <ui-select ng-model="user.selected" required="" name="aUitvoerder" theme="bootstrap" ng-disabled="disabled" style="min-width: 300px;">
                                    <ui-select-match placeholder="Selecteer een uitvoerder uit de lijst of zoek op naam">{{$select.selected.profile.name}}</ui-select-match>
                                    <ui-select-choices repeat="user in businessbuddy.users | propsFilter: {username: $select.search} | limitTo: 50">
                                        <div ng-bind-html="user.profile.name | highlight: $select.search"></div>
                                        <small>
                                            name: {{user.profile.name}}
                                            email: <span ng-bind-html="'' + user.emails[0].address | highlight: $select.search"></span>
                                        </small>
                                    </ui-select-choices>
                                </ui-select>
                                <span class="help-block">Kies hier de medewerker die de taak moet gaan uitvoeren</span>
                            </div>

                            <div class="form-group" id="formFix" ng-class="{'has-error': nieuweAfspraakForm.aKlant.$invalid && nieuweAfspraakForm.$submitted}">
                                <label class="label-light">Klant</label>
                                <ui-select ng-model="klant.selected" required="" name="aKlant" theme="bootstrap" ng-disabled="disabled" style="min-width: 300px;">
                                    <ui-select-match placeholder="Selecteer een klant in de lijst of zoek op naam">{{$select.selected.Voornaam}} {{$select.selected.Bedrijf}}</ui-select-match>
                                    <ui-select-choices repeat="klant in businessbuddy.klanten | propsFilter: {Voornaam: $select.search, Bedrijf: $select.search} | limitTo: 50">
                                        <div ng-bind-html="klant.Voornaam | highlight: $select.search"></div>
                                        <small>
                                            email: {{klant['E-mailadres']}}
                                            bedrijf: <span ng-bind-html="''+klant.Bedrijf | highlight: $select.search"></span>
                                        </small>
                                    </ui-select-choices>
                                </ui-select>
                                <span class="help-block">Kies hier de klant voor de afspraak</span>
                            </div>

                            <div class="form-group" ng-class="{'has-error': nieuweAfspraakForm.aEinddatum.$invalid && nieuweAfspraakForm.$submitted}">
                                <label class="label-light">Einddatum</label>
                                <input type="text" class="form-control" data-provide="datepicker" name="aEinddatum" required="" ng-model="afspraak.Einddatum" data-date-format="dd-mm-yyyy" placeholder="dd-mm-yyyy">
                                <span class="help-block">Vul hier de einddatum in van de afspraak</span>
                            </div>

                            <div class="form-group" ng-class="{'has-error': nieuweAfspraakForm.aEindtijd.$invalid && nieuweAfspraakForm.$submitted}">
                                <label class="label-light">Eindtijd</label>
                                <input class="form-control" required="" type="time" name="aEindtijd" ng-model="afspraak.Eindtijd" placeholder="HH:mm:ss">
                                <span class="help-block">Vul hier de eindtijd in van de afspraak</span>
                            </div>


                            <div class="prepend-top-default append-bottom-default">
                                <input ng-click="nieuweAfspraak(afspraak)" aria-label="Nieuwe afspraak" type="submit" value="Nieuwe afspraak toevoegen" class="btn-create btn">
                                <a class="btn btn-cancel" href="/dashboard">Annuleer</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



