<hmenu></hmenu> <!-- isLoggedIn -->
<div class="page-with-sidebar page-sidebar-expanded">

<div class="nicescroll sidebar-expanded sidebar-wrapper" tabindex="1" style="overflow: hidden; outline: none;">
  <div class="header-logo">
    <a id="logo">
      <img src="/images/logo.png"/>
    </a>
    <a class="businessbuddy-text-container-link" title="Dashboard" id="js-shortcuts-home" href="/"><div class="businessbuddy-text-container">
    <h3>BusinessBuddy</h3>
    </div>
    </a>
  </div>
  <ul class="nav nav-sidebar">
    <li class="">
      <a title="" class="back-link" href="/dashboard" data-original-title="Go to dashboard">
        <i class="fa fa-caret-square-o-left fa-fw"></i>
        <span>Go to dashboard</span>
      </a>
    </li>
    <li class="separate-item"></li>
    <li class="home">
      <a title="" href="/profile" data-original-title="Profile Settings">
        <i class="fa fa-user fa-fw"></i>
        <span>Profile Settings</span>
      </a>
    </li>
    <!-- Yet to be implemented -->
    <!-- <li class="">
      <a title="" href="/profile/account" data-original-title="Account">
        <i class="fa fa-gear fa-fw"></i>
        <del><span>Account</span></del>
      </a>
    </li> -->
    <li class="active">
      <a title="" href="/profile/password" data-original-title="Password">
        <i class="fa fa-lock fa-fw"></i>
        <span>Password</span>
      </a>
    </li>
  </ul>

<div class="collapse-nav">
<a class="toggle-nav-collapse" title="Open/Close" href="#"><i class="fa fa-angle-left"></i></a>

</div>

  <a class="sidebar-user" title="" href="/u/franckie20" data-original-title="Profile">
    <img alt="Profile" class="avatar avatar s36" src="https://secure.gravatar.com/avatar/cdffb550ab83f6eb6658ca6fe2c664ed?s=120&amp;d=identicon">
    <div class="username">{{ businessbuddy.currentUser.username }}</div>
  </a>
</div>
<div class="content-wrapper">
  <div class="flash-container">
    <div class="flash-alert" ng-show="password.error.message" ng-click="password.error = null">{{ password.error.message }}</div>
    <div class="flash-success" ng-show="password.success" ng-click="password.success = null">{{ password.success }}</div>
  </div>
    <div class="container-fluid container-limited">
      <div class="content">
        <div class="content-wrapper">
          <div class="clearfix">
            <div class="row prepend-top-default">
              <div class="col-lg-3 profile-settings-sidebar">
                <h4 class="prepend-top-0">Password</h4>
                <p>After a successful password update, you will be redirected to the login page where you can log in with your new password.</p>
              </div>
              <div class="col-lg-9">
              <h5 class="prepend-top-0">Change your password</h5>
              <form class="changePasswordForm" accept-charset="UTF-8">
                <div class="form-group">
                  <label class="label-light">Old password</label>
                  <input required="required" class="form-control" aria-label="oldPassword" type="password" ng-model="password.credentials.oldPassword">
                </div>
                <div class="form-group">
                  <label class="label-light">New password</label>
                  <input required="required" class="form-control" aria-label="newPassword" type="password" ng-model="password.credentials.newPassword">
                </div>
                <div class="form-group">
                  <label class="label-light">Password confirmation</label>
                  <input required="required" class="form-control" type="password" name="user[password_confirmation]" id="user_password_confirmation">
                </div>
                  <div class="prepend-top-default append-bottom-default">
                  <input ng-click="password.password(oldPassword, newPassword)" aria-label="password" ng-disabled="password.changePasswordForm.$invalid()" type="submit" value="Save password" class="btn btn-create append-right-10">
                </div>
              </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
