<businessbuddy>
    <header class="navbar navbar-fixed-top navbar-businessbuddy header-expanded">
        <div class="container-fluid">
            <div class="header-content">
                <button class="navbar-toggle" type="button">
                    <span class="sr-only">Toggle navigation</span>
                    <i class="fa fa-bars"></i>
                </button>
                <div class="navbar-collapse collapse" style="display: none;">
                    <ul class="nav navbar-nav">
                        <li class="visible-sm visible-xs">
                            <a title="Search" data-toggle="tooltip" href="/search">
                                <i class="fa fa-search"></i>
                            </a>
                        </li>

                        <li>
                            <a class="logout" title="" ng-click="businessbuddy.logout()" ng-show="businessbuddy.isLoggedIn" data-toggle="tooltip" rel="nofollow" data-method="delete" href="/users/sign_out" data-original-title="Sign out">
                                <i class="fa fa-sign-out"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <h1 class="title" style="display: block;">
                    <a href="{{link}}">{{title}}</a>
                </h1>
            </div>
        </div>
    </header>
    <div class="nicescroll sidebar-expanded sidebar-wrapper" tabindex="1" style="overflow: hidden; outline: none;">

        <div class="header-logo">
            <a id="logo">
                <img src="/images/logo.png"/>
            </a>
            <a class="businessbuddy-text-container-link" title="Dashboard" id="js-shortcuts-home" href="/"><div class="businessbuddy-text-container">
                <h3>BusinessBuddy</h3>
            </div>
            </a>
        </div>

        <ul class="nav nav-sidebar">
            <li class="">
                <a title="" class="back-link" href="/dashboard" data-original-title="Go to dashboard">
                    <i class="fa fa-caret-square-o-left fa-fw"></i>
                    <span>Go to dashboard</span>
                </a>
            </li>
            <li class="separate-item"></li>



            <li class="">
                <a title="" class="back-link" href="/dashboard/afspraken">
                    <i class="fa fa-plus-square-o fa-fw"></i>
                    <span>Nieuwe afspraak</span>
                </a>
            </li>
            <li class="">
                <a title="" class="back-link" href="/dashboard/afspraken/overzicht">
                    <i class="fa fa-users fa-fw"></i>
                    <span>Afspraken & Taken</span>
                </a>
            </li>
        </ul>

        <div class="collapse-nav">
            <a class="toggle-nav-collapse" title="Open/Close" href="#"><i class="fa fa-angle-left"></i></a>
        </div>

        <a class="sidebar-user" title="" href="/u/franckie20" data-original-title="Profile">
            <img alt="Profile" class="avatar avatar s36" src="https://secure.gravatar.com/avatar/cdffb550ab83f6eb6658ca6fe2c664ed?s=120&amp;d=identicon">
            <div class="username">{{ businessbuddy.currentUser.username }}</div>
        </a>
    </div>
</businessbuddy>